<div class="align-items-center justify-content-center p-4" style="height: 80vh">
  <div class="row m-auto">
    <div class="col-xs-12 col-lg-7 p-5 m-auto">
      <h1>Contact Us</h1>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime libero
        quos nemo minima reprehenderit cum rem, non sequi. Officia, culpa?Lorem
        ipsum, dolor sit amet consectetur adipisicing elit. Maxime libero quos
        nemo minima.
      </p>
    </div>
    <div class="col-xs-12 col-lg-5 p-3 mb-5">
      <form>
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input type="text" class="form-control" placeholder="first name" />
        </div>
        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input type="text" class="form-control" placeholder="last name" />
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" placeholder="email" />
        </div>
        <div class="form-group">
          <label for="help">What can we help you with?</label>
          <textarea
            name=""
            id=""
            cols="10"
            rows="5"
            class="form-control"
          ></textarea>
        </div>
      </form>
    </div>
  </div>
</div>
